# Copyright 2021-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -*-magic-numbers,
  -altera-*,
  -android-cloexec-fopen,
  -bugprone-assignment-in-if-condition,
  -concurrency-mt-unsafe,
  -hicpp-multiway-paths-covered,
  -llvmlibc-*,
  -modernize-macro-to-enum,
  -readability-identifier-length,
  -readability-non-const-parameter,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:   hicpp-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
  - key:   readability-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
