# Copyright 2021-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -android-cloexec-fopen,
  -bugprone-assignment-in-if-condition,
  -clang-analyzer-unix.Stream,
  -concurrency-mt-unsafe,
  -llvmlibc-*,
  -readability-avoid-nested-conditional-operator,
  -readability-identifier-length,
InheritParentConfig: true
