# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -readability-avoid-nested-conditional-operator,
  -readability-non-const-parameter,
InheritParentConfig: true
